#client-section{
    height: 344px;
    position: relative;
}

#client-section::before{
    content: "";
    position: absolute;
    background: url('../ng.jpg');
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#clients img{
    height: 200px;
}

.client-item{
    padding: 34px;
}
